extends layout 

block content 
   h1=title 

   
   if authors.length > 0
      ul 
      p Author(s)
         each author in authors 
            li 
               a(href=author.url) #{author.name}
   else 
      p Could not find the author with that keyword!


   if books.length > 0
      ul 
      p book(s)
         each book in books
            li 
               a(href=book.url) #{book.title}
   else 
      p Could not find any books with that keyword!